
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <nav>
        <ul>
            <li>@Html.ActionLink("Users","List","Users")</li>
            <li>@Html.ActionLink("Countries", "List", "Countries")</li>
            <li>@Html.ActionLink("Cities", "List", "Cities")</li>
        </ul>
    </nav>
    <div> 
        INDEX PAGE
    </div>
</body>
</html>
